.slider-container {
    position: relative;
}

.slider-container .swiper {
    width: 70%;
    height: 12rem;
    position: unset;
}

.slider-container .swiper-slide {
    background: #ffffff;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.slider-container .swiper-button-prev {
    left: 6rem;
}

.slider-container .swiper-button-next {
    right: 6rem;
}

.slider-container .swiper-button-prev, .slider-container .swiper-button-next {
    color: #000000 ;
}

.left-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name>:first-child {
    font-size: 1.4rem;
    font-weight: 600;
}

.name>:nth-child(2) {
    font-size: 0.7rem;
}

.left-s>:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
}

.left-s>:nth-child(3) {
    font-size: 0.6rem;
    border: none;
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(143, 3, 3);
    color: #ffffff;
}

.img-p {
    transform: rotate(-20deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -20%;
}